---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import GalleryProjects from "@/layouts/Projects/galleryProjects";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { data, slug } = project;
const { name, image, date, description, technologies, images } = data;
---

<Layout>
  <div class="w-full max-w-3xl mx-auto pt-40 mb-10 px-4">
    <GalleryProjects
      client:load
      mainImage={image}
      name={name}
      images={images}
      description={description}
      technologies={technologies}
    >
      <img
        transition:name={`image-${slug}`}
        src={image}
        alt={name}
        class="transition-transform duration-300 select-none hover:scale-105"
      />
    </GalleryProjects>
  </div>
</Layout>
